body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.board-row {
  display: flex;
  justify-content: center;
}

.square {
  width: 100px;
  height: 100px;
  background: #4CAF50;
  color: white;
  border: 2px solid #333;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  transition: background 0.3s;
  
}

.square:hover {
  background: #45a049;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #a82727;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  margin-top: 20px;
}

